.experienceWrapper{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    cursor: pointer;

}
.experienceWrapper:hover{
background-color:  rgba(30, 41, 59, .5);

};



.experienceHeadingSection{
display: flex;
flex-direction: column;
margin-bottom: 0.75rem;

}
.mouseNotHoveredHeading{
    font-size: large;
    font-weight: bolder;
    color: white;

}

.experienceContent{
    max-width: 38rem;
}
.experienceTagSection{
    display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 row-gap: 0.6rem;
 column-gap: 0.4rem;
}
.experienceParagraph{
    padding: 0.3rem 0 0.8rem 0;
}
.timePeriod{
    width: 10rem;

}
.mouseHoveredHeading{
    font-size: large;
    font-weight: bolder;
    color: #55d3c1;
}
.projectImage{
    width: 8rem;
    height: 5rem;
}
.projectImageWrapper{
    padding: 1rem;
}